#myTab {
    border-bottom: 1px solid #6917f1;
}

.nav-link.active {
    border-color: #6917f1 #6917f1 transparent !important;
    color: black !important;
}

.nav-tabs .nav-link {
    color: black;
}
